<h2>Demos</h2>

<as-modal-container trigger="true">
		<as-modal-trigger display="block">
			Default alert box
		</as-modal-trigger>
		<as-modal-dialog modal-title="Hi!">
			Click on the blue button to close.
		</as-modal-dialog>
	</as-modal-container>
<pre>
&lt;as-modal-container trigger="true"&gt;
	&lt;as-modal-trigger display="block"&gt;
		Trigger text
	&lt;/as-modal-trigger&gt;
	&lt;as-modal-dialog modal-title="Modal Title"&gt;
		Modal dialog text.
	&lt;/as-modal-dialog&gt;
&lt;/as-modal-container&gt;
</pre>
	
<as-modal-container trigger="true">
	<as-modal-trigger size="small" color="green" display="block">
		Small green trigger
	</as-modal-trigger>
	<as-modal-dialog modal-title="Hi!">
		Click on the blue button to close.
	</as-modal-dialog>
</as-modal-container>
<pre>
&lt;as-modal-container trigger="true"&gt;
	&lt;as-modal-trigger size="small" color="green" display="block"&gt;
		Trigger text
	&lt;/as-modal-trigger&gt;
	&lt;as-modal-dialog modal-title="Modal Title"&gt;
		Modal dialog text.
	&lt;/as-modal-dialog&gt;
&lt;/as-modal-container&gt;
</pre>

<as-modal-container trigger="true">
	<as-modal-trigger size="big" color="red" display="block">
		Big red trigger
	</as-modal-trigger>
	<as-modal-dialog modal-title="Hi!">
		Click on the blue button to close.
	</as-modal-dialog>
</as-modal-container>
<pre>
&lt;as-modal-container trigger="true"&gt;
	&lt;as-modal-trigger size="big" color="red" display="block"&gt;
		Trigger text
	&lt;/as-modal-trigger&gt;
	&lt;as-modal-dialog modal-title="Modal Title"&gt;
		Modal dialog text.
	&lt;/as-modal-dialog&gt;
&lt;/as-modal-container&gt;
</pre>

<as-modal-container trigger="true">
	<as-modal-trigger display="block">
		Default desition box
	</as-modal-trigger>
	<as-modal-dialog modal-title="Hey!" type="desition" action="#/">
		Click on the red button to close.
	</as-modal-dialog>
</as-modal-container>
<pre>
&lt;as-modal-container trigger="true"&gt;
	&lt;as-modal-trigger display="block"&gt;
		Trigger text
	&lt;/as-modal-trigger&gt;
	&lt;as-modal-dialog modal-title="Modal Title" type="desition"&gt;
		Modal dialog text.
	&lt;/as-modal-dialog&gt;
&lt;/as-modal-container&gt;
</pre>

<as-modal-container trigger="true">
	<as-modal-trigger display="block">
		Custom action attribute
	</as-modal-trigger>
	<as-modal-dialog modal-title="Hi!" type="desition" action="http://github.com" accept-color="red">
		Click on the blue button to close. Don't click on the red button!
	</as-modal-dialog>
</as-modal-container>
<pre>
&lt;as-modal-container trigger="true"&gt;
	&lt;as-modal-trigger display="block"&gt;
		Trigger text
	&lt;/as-modal-trigger&gt;
	&lt;as-modal-dialog modal-title="Modal Title" type="desition" action="http://github.com" accept-color="red"&gt;
		Modal dialog text.
	&lt;/as-modal-dialog&gt;
&lt;/as-modal-container&gt;
</pre>

<form action="">
	<as-modal-container trigger="true">
		<as-modal-trigger color="green" display="block">
			Form submit confirmation
		</as-modal-trigger>
		<as-modal-dialog modal-title="Modal Title" type="desition" mode="submit" accept-text="Yes, I'm sure" cancel-text="No, don't send it">
			Are you sure you want to send the form?
		</as-modal-dialog>
	</as-modal-container>
</form>
<pre>
&lt;form action=""&gt;
	&lt;as-modal-container trigger="true"&gt;
		&lt;as-modal-trigger color="green" display="block"&gt;
			Trigger text
		&lt;/as-modal-trigger&gt;
		&lt;as-modal-dialog modal-title="Modal Title" type="desition" mode="submit" 
		accept-text="Yes, I'm sure" cancel-text="No, don't send it"&gt;
			Modal dialog text.
		&lt;/as-modal-dialog&gt;
	&lt;/as-modal-container&gt;
&lt;/form&gt;
</pre>