<h2>What's AS Modal Dialogs?</h2>
<p>It's a AngularJS module that gives you directives for easily create modal dialogs in your web application.</p>

<h2>Why use it?</h2>
<p>There are a lot of different situations which require a modal dialog, and sometimes it's difficult and laborious to create a special modal dialog for each one. AS Modal Dialogs gives you a easy way to create modal dialogs for everything. And you can also personalize it with your own css styles!</p>

<h2>Do you like it?</h2>
<p>Contribute on GitHub and share the project! :D</p>

<footer>Created by <a href="https://github.com/AlanSanchezP">Alan Sánchez</a></footer>
