.as-modal-dialog-box
	background white
	display inline-block
	font-family 'Open Sans', Arial, Helvetica, sans-serif
	height auto
	max-height 415px
	max-width 500px
	padding 15px 15px 30px 15px
	position relative
	vertical-align middle
	width 85%
	
	h3
		margin 15px 0 !important
	
.as-modal-dialog-content
	background as-gray-color
	margin 20px 0
	max-height 230px
	overflow-x hidden !important
	overflow-y auto !important
	padding 20px
	text-align left