.as-modal-dialog-box
	background white
	bottom 0
	display block
	font-family 'Open Sans'
	left 0
	margin auto
	height 30% auto !important
	max-height 415px !important
	min-height 240px !important
	max-width 500px !important
	padding 15px
	position absolute
	right 0
	top 0
	width 95% !important
	
.as-modal-dialog-content
	background as-gray-color
	margin 20px 0
	max-height 290px
	overflow-x hidden !important
	overflow-y auto !important
	padding 20px
	text-align left