.as-modal-button
	border none
	border-radius 3px
	color white
	cursor pointer
	display inline-block
	font-family 'Open Sans'
	font-weight bold
	position relative
	text-decoration none
	transition background 0.2s
	
.as-modal-blue-button
	background as-blue-color
		
	&:hover
		background lightness(as-blue-color, 42%)
	
.as-modal-medium-button
	padding 10px 15px

.as-modal-red-button
	background as-red-color
	
	&:hover
		background lightness(as-red-color, 42%)
